<footer>
    <section class="footer_top">
        <div class="c1">
            <a href="/" class="logo"><img src="/public/images/message.png" alt="">Quote Maker</a>
            <p class="quote_f">Whether you want to learn or to share what you know, you’ve come to the right place.</p>
            <h4>Links</h4>
            <div class="site_links">
                <a href="{%url "index"%}">Home</a>
                <a href="">Contact US</a>
            </div>
        </div>

        <div class="c2">
            <div>
                <h4 style="margin-top: 0.5rem ;">About</h4>
                <div class="site_links make_flex">
                    <a href="">We are we?</a>
                    <a href="">Terms of use</a>
                    <a href="">Privacy policy</a>
                </div>
            </div>
        </div>
    </section>

    <section class="footer_btm">
        <p>&copy;2022 | Frontend Monster</p>
        <p>
            <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
            <a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
        </p>
    </section>
</footer>