<header>
    <nav>
        <a href="/" class="logo"> Quote <span>Maker</span> </a>
        <ul>
           <li><a href="/">trending</a></li> 
           <li><a href="/">quotes</a></li> 
           <li><a href="/">gallery</a></li> 
           <!-- <li><a class="join_" href="/">create <i class="fa-solid fa-plus"></i></a></li> -->
           <li><a class="join_" href="/">join <i class="fa-regular fa-user"></i></a></li>
        </ul>
    </nav>
</header>
