<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Maker Template</title>
    <link rel="stylesheet" href="../../public/styles/quoteMaker.css">

</head>

<body>
    <%- include('../partials/base.ejs') %>
    <%- include('../partials/header.ejs') %>

    <div class="outer_">
        
        <div class="show_">
                <img id="result_" class="mainShowcase" src="" alt="">
        </div>

        <div class="quote_">
            <p class="myquote_"> </p>
            <p class="author"></p>
        </div>

        <h2 style="margin: 2rem 0;">More Templates</h2>

        <div class="more" id="macy-container">
            <% templates.forEach((template)=> { %>
                <img data-id='<%= template._id %>' class="others_" src="/public/uploads/<%= template.templateDetails.featuredImage %>" alt="">
            <% }) %>
            <img  class="others_" src="https://images.unsplash.com/photo-1567219934540-9f75f7b87552?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1578909196400-59f8f8156a05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1511465390398-532913e8328d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1592211951067-6c3ce19cca90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1516383740770-fbcc5ccbece0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1488381397757-59d6261610f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1468971050039-be99497410af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1503876466-1fc5143eda57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1495001258031-d1b407bc1776?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1527371987029-22c14bc8469f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=505&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1528129550655-5123a0cd0c4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1606607291535-b0adfbf7424f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1549633030-89d0743bad01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1569229569803-69384f5efa83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="">
            <img  class="others_" src="https://images.unsplash.com/photo-1534196511436-921a4e99f297?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
        </div>
        <button class="download_" id="download_">Load More</button>
    </div>

<script src="/public/js/quoteMaker.js"></script>  
<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
 <script>

var macy = Macy({
        container: '#macy-container',
        trueOrder: false,
        waitForImages: false,
        margin:10,
        columns: 5,
        // breakAt: {
        //     1200: 4,
        //     940: 1,
        // }
    });

    const mainTemplate = document.querySelector(".mainShowcase")

    mainTemplate.addEventListener("click",()=>{
            var link = document.createElement('a');
            link.download = 'quote.png';
            link.href = mainTemplate.src
            link.click();
    })
 </script>
</body>
</html>