<header class="nav_">
    <div class="menu_"><i class="fa-solid fa-bars"></i></div>
    <div class="user_items">
        <p style="margin-top: 3px;"><i class="fa-solid fa-bell"></i></p>
        <p style="display: flex; align-items:center; gap:1rem">
            <img src="../../../public/images/user.png" alt="user_image">
            <span>Suman Gurung</span>
            <i class="fa-solid fa-angle-down"></i>
        </p>
    </div>
</header>

<div class="dropdown_">
    <ul>
        <li><a href="/"><i class="fa-solid fa-user"></i> <span>Profile</span></a></li>
        <li><a href="/"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span>Logout</span></a></li>
    </ul>
</div>