<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Maker Admin Portal</title>
    <%- include('../../partials/base.ejs') %>
    <link rel="stylesheet" href="../../../public/styles/admin/adminSidebar.css">
    <link rel="stylesheet" href="../../../public/styles/admin/adminNavbar.css">
    <!-- <link rel="stylesheet" href="../../../public/styles/admin/quoteTemplate.css"> -->
    <link rel="stylesheet" href="../../../public/styles/admin/adminCommon.css">

</head>
<body>
    <%- include('./adminLayoutSideBar.ejs') %>

    <div class="admin_wrapper">
        <%- include('./adminNavbar.ejs') %>
        <div class="inner_admin">

            <div class="top_">
                <h2>Add Quote Template</h2>
                <button onclick="takeAway('/admin/manage-quote-templates')"> Back <i style="margin-left: 5px;" class="fa-solid fa-arrow-left"></i></button>
            </div>

            <form action="" method="" class="form_">

                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>

                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>

                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>

                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>

                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>

                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>

                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>
                
                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>

                <div class="field">
                    <label for="quote">Quote</label>
                    <input type="quote" id="quote" name="quote">
                </div>

                <div class="field field-checkbox">
                    <label for="checkbox">
                      <input type="checkbox" id="checkbox" name="checkbox"> <span style="margin-top: 5px;">Stay signed in for a week</span>
                    </label>
                </div>

                <div class="field">
                    <input type="submit" name="submit" value="Save">
                </div>
            </form>

        </div>
    </div>
</body>
</html>