<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Maker Admin Portal</title>
    <%- include('../../partials/base.ejs') %>
    <link rel="stylesheet" href="../../../public/styles/admin/adminSidebar.css">
    <link rel="stylesheet" href="../../../public/styles/admin/adminNavbar.css">
    <link rel="stylesheet" href="../../../public/styles/admin/adminCommon.css">

</head>
<body>
    <%- include('./adminLayoutSideBar.ejs') %>

    <div class="admin_wrapper admin_half">
        <%- include('./adminNavbar.ejs') %>
        <div class="inner_admin">
            <div class="top_">
                <h2>Users</h2>
                <button>Add User <i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="table">
                <div class="table-header">
                    <div class="header__item"><a id="name" class="filter__link" href="#">SN</a></div>
                    <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#"></a></div>
                    <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Draws</a></div>
                    <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Losses</a></div>
                    <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Action</a></div>
                </div>
                <div class="table-content">	
                    <div class="table-row">		
                        <div class="table-data">1</div>
                        <div class="table-data">2</div>
                        <div class="table-data">0</div>
                        <div class="table-data">1</div>
                        <div class="table-data">
                            <button class="edit_">Edit <i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="delete_">Delete <i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-data">2</div>
                        <div class="table-data">1</div>
                        <div class="table-data">1</div>
                        <div class="table-data">2</div>
                        <div class="table-data">
                            <button class="edit_">Edit <i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="delete_">Delete <i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-data">3</div>
                        <div class="table-data">0</div>
                        <div class="table-data">2</div>
                        <div class="table-data">2</div>
                        <div class="table-data">
                            <button class="edit_">Edit <i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="delete_">Delete <i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</body>
</html>